<header class="page-header">
  <h1>About Page</h1>
</header>
<p><img src="https://cdn.shopify.com/s/files/1/0422/6678/7993/files/HPS-ourstory_480x480.jpg?v=1605942907" alt="" style="display: block; margin-left: auto; margin-right: auto;"></p>
<header class="page-header">
  <h2>Welcome to Jungle!</h2>
</header>
<h3>Everyone Should Live with a Little More Green</h3>
<p>Jungle is here to help strengthen your relationship with plants. We make buying plants easy by delivering healthy, ready-to-go plants to your door and setting you up with the tips and tricks you need to help your plants thrive. Plants make life better. We make plants easy.</p>